pkgbase = cython
	pkgdesc = C-Extensions for Python
	pkgver = 3.0.9
	pkgrel = 1
	url = https://cython.org
	arch = x86_64
	license = Apache-2.0
	checkdepends = gdb
	checkdepends = python-numpy
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	replaces = cython-dev
	source = https://github.com/cython/cython/archive/3.0.9/cython-3.0.9.tar.gz
	sha256sums = ca7758a3a87340a93f5bde4747e4a5ff1708cf2df407dee533b63ef6cc845777

pkgname = cython
